<template>
  <v-dialog v-model="open">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>
        <v-text-field v-model="value" :label="$t('name')" autofocus @keyup.enter="validate"/>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" text @click="hide">{{ $t('cancel') }}</v-btn>
        <v-btn color="primary darken-1" text @click="validate">{{ $t('update') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      title: String,
    },

    data() { return {
      open: false,
      item: null,
      value: null,
    }},

    watch: {
      open(v) {
        this.value = this.item ? this.item.name : null
      }
    },

    methods: {
      hide() {
        this.item = null
        this.open = false
      },

      show(item) {
        this.item = item
        this.open = true
      },

      validate() {
        this.$emit('validate', {item: this.item, name: this.value})
        this.hide()
      }
    }
  }
</script>

<i18n>
en:
  name: "Name"
  cancel: "Cancel"
  update: "Update"

fr:
  name: "Nom"
  cancel: "Annuler"
  update: "Mettre à jour"
</i18n>
