<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app>
      <v-list-item @click="$router.push('/lists')">
        <v-list-item-icon>
          <v-icon>mdi-home-account</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{ $t('lbl_shopping_lists') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="list in lists" :key="list.id" link @click="$router.push(`/list/${list.id}`)">
          <v-list-item-icon>
            <v-icon>mdi-format-list-checkbox</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>
              <span>{{ list.name }}</span>
            </v-list-item-title>
          </v-list-item-content>

          <v-list-item-action>
            <v-icon v-if="list.items == 0" color="success" small>mdi-check</v-icon>
            <span v-else class="primary--text text--lighten-2">{{ list.items }}</span>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title color="accent">{{ title }}</v-toolbar-title>
      <slot name="toolbar"/>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <slot></slot>
      </v-container>
    </v-content>

    <v-footer app>
      <!-- -->
    </v-footer>
  </v-app>
</template>

<script>
  export default {

    props: {
      title: String
    },

    data() { return {
      drawer: null
    }},

    computed: {
      lists() { return this.$store.state.lists || [] }
    },

  }
</script>

<i18n src="./locales.yaml"></i18n>
